.App {
  font-family: sans-serif;
  text-align: center;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  height: 100vh;
}

.container-module {
  color: white;
  border: 1px solid hsl(0deg 0% 76% / 48%);
  box-sizing: border-box;
  padding: 10px;
  margin: 20px 0px;
  background: #00000080;
}

.justify-text-left {
  text-align: left;
}
