.user-listgroup {
  color: black;
  cursor: pointer;
}

.user-listgroup-wrapper {
  padding: 0;
}

.user-modal {
  padding-bottom: 0;
}

.user-modal img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
}

.button-hover:hover {
  background: #2a2b2c;
  color: white;
}
